*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fullBg($url) {
    width: 100%;
    background-image: url($url);
    background-size: cover;

    @media (min-width: 500px) {
        height: 50vh;
    }
}

html{
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    h1, h2 {
        font-size: 24px !important;
        margin: 0 !important;
    }

    p {
        font-size: 14px;
    }
}

main {
    width: 100%;
    height: auto;

    .card {
        max-width: 500px;
        margin: 0 auto; 
        border: none;
        //box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.35);
    }

    .filter {
        @include flexCenter();
        width: 100%;
        height: 100%;
        text-shadow: 1px 1px 1px rgba(0,0,0, 0.8);
        color: white;
        background: rgba(0, 0, 0, 0.15);
    }

    .bienvenue {
        @include fullBg("img/bg-saints.jpg");
        height: calc(100vh - 64px) !important;
    }


    .mairie {
        @include fullBg("img/mairie.jpg");
    }

    .poste__title {
        display: flex;
        align-items: center;

        img {
            display: block;
            width: 144px;
            height: 55px;
        }
    }

    .bibli {
        @include fullBg("img/bibli.jpg");
    }

}

footer {
    @include flexCenter();
    flex-direction: row;

    margin-top: auto;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 80%;

        list-style-type: none;

        li a {
            text-decoration: none;
        }
    }
}
